button {
    width: 64px;
    height: 64px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    font-family: 'Open Sans', 'Roboto', 'sans-serif';
}

.operation {
    background-color: crimson;
    color: white;
}

.control {
    background-color: orange;
}


body {
    font-family:'Open Sans';
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: lightcyan;
}


.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    flex: 1;
    max-width: 274px;
    padding: 10px;
    background-color: gray;
    
    border: 10px solid black;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.display {
    display: flex;
    flex-direction: column;
    height: 100%;

    background-color: darkgray;
    padding-right: 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-family: 'Open Sans', 'Roboto', 'sans-serif';
    color: white;
    text-align: right;
}

.display-text {
    flex: 1 0 auto;
    font-size: 32px;
    word-wrap: break-word;
}

.display-operations {
    flex: 1 0 auto; 
    font-size: 16px;
    word-wrap: break-word;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.top-row-buttons {
    display: flex;
    gap: 10px;
    margin-right: 5px;
}

.control {
    flex: 1;
}